<mat-toolbar color="primary">
  <span>
    <a [routerLink]="['']">Posts App</a>
  </span>
  <span class="spacer"></span>
  <ul *appShowAuthed="false">

    <li>
      <a mat-button [routerLink]="['auth','login']"
         routerLinkActive="mat-accent">Login</a>
    </li>

    <li>
      <a mat-button [routerLink]="['auth','register']"
         routerLinkActive="mat-accent">SignUp</a>
    </li>

  </ul>
  <ul *appShowAuthed="true">

    <li>
      <a mat-button [routerLink]="['posts','editor']"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}">New
        Post</a>
    </li>

    <li>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>

  </ul>
</mat-toolbar>
